In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("bank_marketing.csv")
df.head(5)

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no

In [13]:
print(" \nCount total NaN in a DataFrame : \n\n", 
       df.isnull().sum().sum())

Count total NaN in a DataFrame :

 0

In [57]:
print("the duplicated values in total is:",df.duplicated().sum().sum())

the duplicated values in total is: 0

In [26]:
df = df.drop("Unnamed: 0", axis=1)
df = df.dropna()
df = df.drop_duplicates()
shape = df.shape
print("The shap:",shape)

The shap: (5581, 17)

In [35]:
df["age"][df["deposit"] == "yes"].mean()

41.42677345537757

In [39]:
df["campaign"][df["deposit"] == "no"].max()

63

In [40]:
df["balance"][df["deposit"] == "yes"].max() - df["balance"][df["deposit"] == "no"].max()

24373

In [47]:
df["job"].value_counts()

management       1318
blue-collar       975
technician        887
admin.            661
services          452
retired           397
self-employed     206
student           182
unemployed        170
entrepreneur      160
housemaid         143
unknown            30
Name: job, dtype: int64

In [53]:
df["job"][df["job"] == "management"].count()

1318